body{
    font-family: cursive;
    margin: 0%;
    padding: 0%;
    color: rgb(172, 35, 31);
    background-image: url(./imgs/d62817b3-1324-435c-94bd-e0e14cc51e7c.gif);
    background-size: cover;
    background-repeat:no-repeat ;
}


header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(147, 185, 199);
    height: 100px;
}

#titulo{
    color: rgb(253, 253, 253);
    margin-left: 37%;
    height: 20px;
    width: 500px;
    font-family: cursive;
}


#start{
    color: rgb(253, 253, 253);
    height: 70px;
    width: 100px;
    border-radius: 5%;
    background-color: rgb(243, 138, 226);
}

#alone{
    color: rgb(253, 253, 253);
    height: 70px;
    width: 100px;
    border-radius: 5%;
    background-color: rgb(243, 138, 226);
}

.msj{
    color: rgb(253, 253, 253);
    text-align: center;
}


.contenedor2{
 margin-top: 20px;
}
  
.contenedor{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
}
  
.caja {
    width: 100px;
    height: 100px;
    font-size: 60px;
}

#hamster{
    width: 400px;
    margin-bottom: -450px;
    margin-left: 4%;
}

#kitty{
    width: 380px;
    margin-bottom: -400px;
    margin-left: 800px;
}
#estrella{
    width: 90px;
    margin-left: 65%;
    margin-top: -20%;
}

#msj{
    margin-left: -800px;

}

footer{
    text-align: center;
    background-color: rgb(147, 185, 199);
    padding: 2%;
    color: rgb(253, 253, 253);
    
}

#music{
    margin-left: 840px;
    margin-top: -300px;
    color: rgb(255, 102, 255);
}


